{% spaceless %} {% load i18n static %}{% load staticfiles %}
<!DOCTYPE html> {% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:" es-VE " }}" {% if LANGUAGE_BIDI %}dir="rtl" {% endif %}>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  <title>TradTerm DJANGO 1.11</title>
  {% include "base/headers.html" %} {% include "base/javascripts.html" %}
</head>
<body>
  <header>
    {% include "nav_bar.html" %}
  </header>
  {% block modal %} {% endblock modal %}
  <div class="container-fluid">
    <section class="main row animated fadeIn">
      <!--CONTENIDO CENTRAL-->
      <div class="jumbotron col-12">
      {% block content %}
      
        <div class="animated fadeInLeft ">
          <div class="animated fadeInRigth">
            <h1 id="titulo" class="display-1 text-center ">TradTerm</h1>
            <p class="lead text-center animated bounceInUp"> La app que te ayuda a entender mucho mas sobre programacion!</p>
          </div>
          {% if user.is_authenticated %}
          <p class="lead text-center animated bounceInUp"> Buen dia! , {{ user.first_name }} ({{ user.username }}) Estas listo para aprender mucho mas hoy?</p>
          <div class="d-flex justify-content-center animated bounceInUp">
            <a class="btn btn-primary btn-sm " href="{% url 'Lenguajes:index_lenguajes' %}" role="button">WikiLenguajes</a>
            <a class="btn btn-secondary btn-sm " href="{% url 'Terminos:index_terminos' %}" role="button">TradTerm</a>
          </div>
        </div>
        {% else %}
        <div class="d-flex justify-content-center">
          <a id="botonentrar" class="btn btn-primary btn-sm" href="{% url 'login' %}" role="button">Entrar</a>
        </div>
        {% endif %} {% endblock %}
        <!--CONTENIDO CENTRAL-->
      </div>
    </section>
  </div>
  <footer>
<!--pie de pagina-->
{% block footer %}
<div class="container">
  <div class="d-flex justify-content-center">
    <h3>Desarrollado en Python FrameworkDjango © 2017-2018</h3>
  </div>
</div>
{% endblock%}
</footer>
<!--fin pie de pagina-->
   {% block scripts %}
  <!--esta seccion activa la animacion del color del titulo-->
  <script>
    $('#titulo').addClass('colorblur'); //esta funcion agrega la clase colorblur
    //al titulo principal de la vista.
  </script>
  {% endblock scripts %}
</body>
</html>
{% endspaceless %}