@import url('mediaquerys.css');
.body{
    color: black !important;
}
.jumbotron {
    padding-bottom: 5rem;
}

#exampleModalLabel {
    color: black;
}

.btn.btn-primary.btn-sm,
.btn.btn-secondary.btn-sm {
    padding: 10px 20px;
    margin: 10px 10px;
    transition: 500ms
}

.btn.btn-primary.btn-sm:hover,
.btn.btn-secondary.btn-sm:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.card {
    flex: 0 0 15%;
    transition: all 300ms ease-out;
    background-color: rgba(100, 6, 154, 0.8);
}

.card:hover {
    transform: scale(1.2);
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#botonentrar {
    background-color: #ba69c8;
    padding: 10px 20px;
    margin: 10px 10px;
    transition: 1500ms;
}

#botonentrar:hover {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.colorblur {
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hue 8s infinite linear;
}
@keyframes MOVE-BG {
    0% {
        background-position: 0% 100%
    }
    50% {
        background-position: 100% 0%
    }
    100% {
        background-position: 0% 100%
    }
}
.jumbotron {
    background-image: url(images/doc-jumbotron-bg.jpg);
    background-position: 0% 0%;
    background-repeat: repeat;
    animation-name: MOVE-BG;
    animation-duration: 50s;
    -webkit-animation-name: MOVE-BG;
    -webkit-animation-duration: 50s;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite; 
}
.card-columns {
    color:blue;
    @include media-breakpoint-only(lg) {
        column-count: 4;
    }
    @include media-breakpoint-only(xl) {
        column-count: 5;
    }
}

@keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}