<div style="background-color: rgba(250, 217, 255, 0.65); color:black;  margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */" class="rounded mx-auto col-12 col-md-8">
    <div class="card-header text-center">
        <h1 class="colorblur">TradTerm</h1>
        <small class="text-muted">(Admin Mode) </small>
        <h6 class="text-muted">Inicie sesión rellenando los campos.</h6>
    </div>
    <div class="form-group col-12">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-group">
                {{ form.username }}
            </div>
            <div class="form-group">
                {{ form.password }}
            </div>
            <div class="form-group">
                <div class="text-center"><button class="btn btn-primary btn-lg" type="submit">Entrar</button></div>
            </div>
        </form>
    </div>
</div>