{% extends "base/base.html" %}
{% block content %}
     <h1 class="display-3"> WikiTerms!</h1>
     <p class="lead"> En esta seccion encontraras informacion sobre terminos y sus traducciones.</p>
     {% if terminos %}
    
     <div class="table-responsive">
     
       <table class="table">
           <thead>
               <tr>
                   <th>Nombre</th>
                   <th>Significado</th>
                   <th>Descripcion</th>
                   <th>Lenguaje</th>
               </tr>
           </thead>
           <tbody>
             {% for termino in terminos %}
               <tr>
                   <td scope="row">{{ termino.nombre }}</td>
                   <td>{{ termino.significado }}</td>
                   <td>{{ termino.descripcion|safe|linebreaksbr }}</td>
                   <td>{{ termino.lenguaje|truncatewords:1 }}</td>
               </tr>
             {% endfor %}
           </tbody>
       </table>
     </div>
     
     {% else %}
     <h1> SIN TERMINOS :(</h1>
     {% endif %}
{% endblock %} <!--CONTENIDO CENTRAL-->