{% extends "base/base.html" %} {% load static from staticfiles %} 
{% block content %}
<h1 class="display-3"> WikiLenguajes! </h1>
<p class="lead"> En esta sección encontrarás información sobre los diferentes lenguajes de programación existentes en la base de datos...</p>
<p>Cantidad de objetos listados: {{lenguajes.count}}</p>
<p>Primer Objeto : {{lenguajes.first}}</p>
<p>Ultimo Objeto : {{lenguajes.last}}</p>
{% if lenguajes %}
<div class="centered">
<section class="cards center">
<div class="card-deck">
{% for lenguaje in lenguajes %}

  <div onclick="location.href='{{ lenguaje.get_absolute_url}}{{lenguaje.nombre|urlencode}}'" class="card">
    <div style="background-image: url({{lenguaje.imagenext}}); width: 266px;height: 180px;background-size: cover;background-repeat: no-repeat;background-position: 50% 50%;" class="container"></div>
    <div class="card-block">
      <h4 class="card-title">{{ lenguaje.nombre }}</h4>
      <p class="card-text">{{ lenguaje.descripcion|truncatechars:150 }}</p>
      <p class="card-text">{{ lenguaje.caracteristicas|truncatechars:50 }}</p>
    </div>
    <div class="card-footer">
    </div>
  </div>
{% endfor %}
</div>
  </section>
<br>
{% else %}
<div class="card card-inverse card-danger text-center">
<h1 class="text-center"> No hay lenguajes registrados! :(</h1>
</div>
{% endif %} 
{% endblock %}
<!--CONTENIDO CENTRAL-->