{% extends 'base/base.html' %}

{% block content %}
<!-- Modal -->
<img style=" width: 250px; height: 250px;" class="img-responsive" src="{{lenguaje.imagenext}}" alt="LOGO LENGUAJE">
<h2> {{ lenguaje.nombre }}</h2>
<div class="container-fluid">
  <div class="card-block">
    <h4> Descripción.</h4>
    <p>{{ lenguaje.descripcion|safe }}</p>
  </div>
  <div class="card-block">
    <h4> Caracteristicas.</h4>
    <p>{{ lenguaje.caracteristicas|safe }}</p>
  </div>
</div>
{% endblock content %}