{% extends 'base/base.html' %} {% block content %}
<div class="card">
  <div class="container">

      <form class="form-group" method="post">
      {% csrf_token %} {{form.as_p}}
      <button class="btn btn-primary btn-lg" type="submit">Registrar</button>
    </form>

  </div>
</div>
{% endblock %}}