{% extends "base/base.html" %}
{% load i18n %}
{% block content %}
{% if form.errors and not form.non_field_errors %}
{% block modal %}
<!-- Modal -->
<div class="modal fade" id="errModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 style="color: black" class="modal-title" id="exampleModalLabel">Error al inciar sesión</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
        <strong>Ho my God!</strong> {{ error }}
        </div>
        {% endfor %}
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
{% endblock modal %}
<p class="errornote">
  {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the
  errors below." %}{% endif %}
</p>
{% endif %} 
{% if form.non_field_errors %} 
<script>
  $('#errModal').modal('show')
</script>
{% for error in form.non_field_errors %}
{% endfor %} 
{% endif %}
{% if user.is_authenticated %}
  <meta http-equiv="REFRESH" content="0;url=/">
{% else %}
<div class="row">
{% include "forms/frm_login.html" %}
</div>
</form>
{% endif %}
{% endblock %} 